// Ancho de pantalla donde dividimos los moviles de escritorio
$breakpoint: 800px;

@mixin desktop {
    @media (min-width: #{$breakpoint}) {
        @content;
    }
}


@mixin mobile {
    @media (max-width: #{$breakpoint - 1px}) {
        @content;
    }
}