:root{
  --color-home: #efe6e2;
  --color-carta: white;
  --color-texto: black;
  --max-width: 1500px;
}

$header-height: 88px;

$color-primario: #E6D7D2;
$color-seccion: lighten($color-primario, 5%);
$color-fondo: lighten($color-primario, 25%);

//Hojas para la descripción del escritorio
@import "media";
@import "mediaquerries";
@import "https://fonts.googleapis.com/css2?family=Lato:wght@300;700;900&display=swap";
html{
scroll-behavior: smooth;
}
body{
  padding:$header-height 0 0 0; margin:0;
  overflow-x: hidden;
  background-color: $color-fondo;
}

//Apartado del menu
.menu{
  background-color: $color-seccion;
  position: fixed;
  top:0;
  width: 100vw;
  z-index: 10;
}
//clase container para el contenido de unos elementos
.container{
  text-align: left;
}
.max-width{
  @include desktop{
    max-width: 1400px;
    margin:auto;
  }
}
//Para la primera parte del contenido donde ira la imagen y la frase.
.contenedor{
 background-color: $color-fondo;
 height: 800px;
}

//clase para la sección de inicio y dar ajuste tanto para escritorio como movil
.inicio{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  .column{
    &.primero{
      width: 100%;

      @include desktop{
        width: 50%;
      }
    }

    &.segundo{
      width: 100%;

      @include desktop{
        width: 50%;
      }
    }
  }
}

.navegacion{
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 align-items: center;
 align-content: center;
 height: 20%;
  //elementos para darle un espacio y estructura a los elementos 
    .columna{
      //aqui se planeo esta columna para el icono que se vio en el figma pero despues lo quitamos
      &.w-primero {
        width: 100%;
    
        @include desktop {
          width: 50%;
        }
      }
      &.w-segundo{
        width: 100%;
    
        @include desktop{
          width: 50%;
        }
      }
    }
}

//Clase para el contenido de la tercera section
.contenido{
  background-color: $color-fondo;
}

//Estlos para el apartado de contacto y posicionar todo al final
.contacto{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  color: var(--color-texto);
  background-color: $color-seccion;
  padding-right:1rem;
  font-size: 17px;
  &__info-contacto{
    text-align: center;
    font-family: 'Lato', 'sans-serif';
    font-weight: 300;
    line-height: 37px;
    letter-spacing: 0.11em;
    text-decoration: none;
    @include desktop{
      width: 25%;
    }
  }
  @include desktop {
    font-size: 28px;
    padding-right: 5rem;
  }
}

//Propiedad del texto del apartado carta
.carta{
  display: flex;
  justify-content: left;
  align-items: center;
  align-content: center;
  font-family: 'Lato', 'sans-serif';
  font-style: normal;
  color: var(--color-texto);
  text-align: left;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.8rem;
  letter-spacing: 0.15em;
  @include desktop{
    font-size:1.6rem;
    line-height: 2.55rem;
  }
}

//Margen para el apartado de la carta
.margentext{ 
  margin: 5%;
}

//margen para el apartado de una imagen 
.margenimage{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-left: 10%;
}

//Alineación de un apartado del texto
.alineación{
   text-align: center;
}

//Composición para el texto que describe el contenido
.texto{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: 'Lato', 'sans-serif';
  font-style: normal;
  font-weight: 300;
  color: var(--color-texto);
  text-align: center;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.11em;
  margin: 12%;
  @include desktop{
    line-height: 2.8rem;
    font-size:2.4rem;
    margin: 14%;
    text-align: right;
  }
}

//Estructura y personalización para el nombre que esta despues del menu de navegación
.nombre{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: 'Lato', 'sans-serif';
  font-style: normal;
  color: var(--color-texto);
  font-weight: 300;
  text-align: right;
  font-size: 25px;
  line-height: 27px;
  letter-spacing: 0.15em;
  margin:4%;
  @include desktop{
    font-size:1.5rem;
    line-height: 2rem;
    text-align: left;
    margin: 0%;
  }
}

//Elementos usados para llamarlos al apartado de descripción
.text{
    font-family: 'Lato', 'sans-serif';
    font-weight: 300;
    font-size: 31px;
    line-height: 105px;
    color: var(--color-texto);
    letter-spacing: 0.11em;
  @include desktop{
    width: 564px;
    height: 295px;
    left: 782px;
    top: 1137px;
  }
    
}

//Es para los elementos de la lading y hacer que ocupen el 100% divididos en 3 partes
section.perfil{
  background: $color-seccion;
}
.perfil-content{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    @include desktop{
      flex-flow: row;
    }
    .column.cita{
      @include mobile{
        text-align: center;
        padding-top: 1rem;
      }
      @include desktop{
        width: 40%;
      }
      .cita-jiiddu{
       max-width: 80%;
       margin: auto;
       border-radius: .5rem;
       overflow: hidden;
      }
      
    }
    .column.bullets{
      display: flex;
      flex-flow: column;
      @include desktop{
        flex-flow: row;
        padding-top:1rem;
        width: 60%;
      }

      .broche{
        width: 55px;
        height: 65px;
        margin:6%;
        @include mobile{
          margin:0 auto;
        }
        @include desktop{
          margin-top:3rem;
        }
      }
    }

}

//clase para los botones de navegación
.botones-menu{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: transparent;
  border: transparent;
  color: var(--color5);
  cursor: pointer;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.15em;
  font-size:23px;
  overflow: hidden;
  margin: 4%;
  &__item{
    text-decoration: none;
    color: var(--color-texto);
    text-align: center;
    font-weight: 300;
    width:45%;
    @include desktop{
      width: 25%;
    }
  }
  @include desktop {
    font-size: 25px;
  }
}

//Color para el apartado de enlace
.enlace{
  color: var(--color-texto);
}

.sobre{
  text-align: left;
  color: var(--color-texto);
  font-family: 'Lato', 'sans-serif';
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0.11em;
  margin:5%;
  @include mobile{
    font-size:18px;
    line-height: 9px;
  }
}
//color para los puntos de la lista
.lista{
  text-align: left;
  color: var(--color-texto);
  font-family: 'Lato', 'sans-serif';
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0.11em;
  
  li:before{
    content: "\2022";
    color: white; 
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    margin-bottom:.5rem;
  }
  @include mobile{
    font-size:19px;
    line-height: 19px;
    letter-spacing: 0.1em;
  }
}


a.anchor {
    display: block;
    position: relative;
    top: -$header-height;
    visibility: hidden;
}