
@import "mediaquerries";

//Elementos para hacer responsibe la imagen de ejemplo
.img {
    background-image: url(/images/foto_lety.png);
  }
  @media (min-width: 300px) {
    .img {
      background-image: url(/images/foto_lety.png);
    }
  }
  @media (min-width: 1500px) {
    .img {
      background-image: url(/images/foto_lety.png);
    }
  }

//Elementos para hacer responsive la imagen de ejemplo
  .img {
    background-image: url();
  }
  @media (min-width: 300px) {
    .img {
      background-image: url();
    }
  }
  @media (min-width: 1500px) {
    .img {
      background-image: url();
    }
  }

//Color para el fondo de la seccion hero-container
 
$color-home: #E6D7D2;
$color-fondo: lighten( $color-home, 10% );


//Clase del hero para las imagenes
section.hero-container{
  background: $color-fondo;
}
.hero{
   position: relative;
   width:99%;
   @include mobile{
    min-height: 70vh;
   }
   @include desktop{
    min-height: 550px;
   }
   
   
   &__content{
    position:absolute;
    z-index:5;
    @include mobile{
      margin-left:10%;
      width: 80%;
    }
    @include desktop{
      width:50%;
      right:0;
    }
   }
   &__background{
    position:absolute;
    height: 100%;
    
    @include desktop{
      width: 100%;
    }
    overflow: hidden;
    .image{ 
      object-fit: cover;
      @include mobile{
        margin-top:70%;
        width: 50%;
        margin-left:50%;
      }
      //object-position: right bottom;
      @include desktop{
        object-position: bottom center;
        position: absolute;
        bottom:0;
        left:5%;
        max-width:40%;
        max-height: 100%;
      }
      
    }
   }
}

.comilla1{
  width: 15%;
  height: 20%;
  max-width: 100%;
  @include desktop{
    width: 7%;
    height: 15%;
  }
}

.comilla2{
  width: 15%;
  height: 20%;
  max-width: 100%;
  @include desktop{
    width: 7%;
    height: 15%;
  }
}

.linea{
  width: 10%;
  height: 15%;
  max-width: 100%;
  @include desktop{
    width: 1.8rem;
    height:.50rem;
    margin-bottom: 1%;
  }
}
.whats-icon{width:1.6rem; height: 1.6rem;}

.imagen{ 
  background-color: #E6D7D2;
  border-radius: 43px;
  object-position: left center;
  opacity: .7;
  background-blend-mode: multiply; 
  object-fit: cover;
  width: 92%;
  height: 100%;
  position: inherit;
  margin-top: 15px;
  margin-left:5%;
  @include desktop{
    position: static;
    margin-top: 0px;
    margin-left: 46%;
    width: 85%;
    height: 100%;
  }
}
  
.icono{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 10%;
  height: 15%;
  margin-top: 0%;
  margin-left: 43%;
  @include desktop{
    margin-top: -45%;
    margin-left: 60%;
  }
}

.logoalegria{
  width: 20%;
  height: 20%;
  margin: 3%;
}